/* Primary Colors */
/* Secondary Colors */
/* Bg-colors */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.4;
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}

.icon {
  font-size: 2.5rem;
  padding: 1rem 0.2rem;
}

span {
  font-weight: 700;
  position: absolute;
  left: 130px;
}

/* Primary Colors */
/* Secondary Colors */
/* Bg-colors */
.phone-container {
  background: #f4f4f4;
}

#container .bg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: #f5f3f7;
}

#container .bg-violet {
  background: #9241c8;
  height: 50vh;
  width: 50%;
  justify-self: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-bottom-right-radius: 300px;
}

#container .bg-pale-violet {
  background: #f5e6ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  width: 30%;
  border-top-left-radius: 300px;
}

#container .phone-frame {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  width: 280px;
  height: 570px;
  margin: auto;
  background: #f5f3f7;
  border: 10px solid white;
  border-radius: 25px 25px 35px 35px;
  -webkit-box-shadow: 1px 1px 10px #444;
          box-shadow: 1px 1px 10px #444;
}

#container .phone-frame .phone-header {
  background: -webkit-gradient(linear, right top, left top, from(#e942ff), to(#8838ff));
  background: linear-gradient(to left, #e942ff, #8838ff);
  border-radius: 25px 25px 12px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.7rem;
  height: 75px;
  margin-bottom: 1rem;
  font-size: 0.5rem;
  color: white;
}

#container .phone-frame .phone-header p {
  padding-top: 0.3rem;
}

#container .phone-frame .phone-header .white-bg {
  padding: 0.6rem;
  background: white;
  position: absolute;
  width: 60%;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0 0 20px 20px;
}

#container .phone-frame .phone-header .flexbox-container {
  margin: 1.2rem 0;
}

#container .phone-frame .phone-header img {
  border-radius: 50%;
  border: 2px white solid;
  width: 40px;
  height: 40px;
  margin: 1rem 0.5rem;
}

#container .phone-frame .phone-header .btn-left {
  color: white;
  font-size: 1.5rem;
  margin-top: 1.2rem;
  margin-left: 0.2rem;
}

#container .phone-frame .phone-header .btn-right {
  color: white;
  font-size: 0.9rem;
  position: absolute;
  right: 1rem;
  top: 2.2rem;
}

#container .phone-content .messages-sent p {
  background: #f5e6ff;
  color: #9241c8;
  margin: 0.5rem;
  padding: 0.3rem;
  font-size: 0.6rem;
  width: 140px;
  border-radius: 10px;
}

#container .phone-content .messages-recived p {
  background: white;
  color: #a39daa;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 0.6rem;
  width: 150px;
  border-radius: 10px;
}

#container .phone-content .messages-recived .right-align {
  text-align: right;
  width: auto;
}

#container .phone-content .messages-recived img {
  border-radius: 10px;
  width: 50px;
  height: auto;
  margin: 0.3rem;
}

#container .phone-content .messages-recived .flexbox-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#container .phone-content .messages-recived .flexbox-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#container .phone-content .btn button {
  background: -webkit-gradient(linear, left top, right top, from(#e942ff), to(#8838ff));
  background: linear-gradient(to right, #e942ff, #8838ff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 150px;
  border: none;
  border-radius: 10px 10px 10px 5px;
  outline: none;
  margin: 0.8rem 0.5rem;
  padding: 0.5rem 0;
  color: white;
  font-size: 0.7rem;
}

#container .phone-content .btn button i {
  padding: 0 0.4rem;
}

#container .phone-content .send-message {
  width: 93%;
  margin: auto;
  margin-top: 1rem;
}

#container .phone-content .send-message textarea {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #c6cacd;
  padding: 0.7rem;
  resize: none;
}

#container .phone-content .send-message .send {
  background: #3e2753;
  color: white;
  position: absolute;
  right: 1rem;
  padding: 0.5rem;
  margin: 0.2rem 0;
  border-radius: 60%;
  outline: none;
  border: none;
}

#about {
  text-align: center;
  margin: 2rem 0;
  color: #a39daa;
  line-height: 1.8;
}

#about h1 {
  color: #3e2753;
  margin-bottom: 1rem;
  font-size: 2.1rem;
}

@media (min-width: 768px) {
  #container .bg-violet {
    height: 50vh;
    width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */