@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.4;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

.icon {
    font-size: 2.5rem;
    padding: 1rem 0.2rem;
}

span {
    font-weight: 700;
    position: absolute;
    left: 130px;
}