/* Primary Colors */
$pale-violet: hsl(276, 100%, 95%);
$moderate-violet: hsl(276, 55%, 52%);
$desaturated-violet: hsl(271, 15%, 43%);
$very-dark-desaturated-violet: hsl(271, 36%, 24%);
$graish-blue: hsl(206, 6%, 79%);
$dark-grayish-violet: hsl(270, 7%, 64%);

/* Secondary Colors */
$white: hsl(0, 0%, 100%);
$app-bg: hsl(270, 20%, 96%);
$submit-btn-bg: hsl(271, 36%, 24%);
$radio-btn-outline: hsl(289, 100%, 72%);

/* Bg-colors */ 
$bg-magenta: hsl(293, 100%, 63%);
$bg-violet: hsl(264, 100%, 61%);