@import "globals";
@import "variables";
@import "phone-container";


body {
    font-family: 'Rubik', sans-serif;
}

#container {

    .bg-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .bg-violet{
        background: $moderate-violet;
        height: 50vh;
        width: 50%;
        justify-self: flex-end;
        align-self: flex-start;
        border-bottom-right-radius: 300px;
    }

    .bg-pale-violet {
        background: $pale-violet;
        display: flex;
        height: 50vh;
        width: 30%;
        border-top-left-radius: 300px;
    }

    .phone-frame {
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        width: 300px;
        height: 600px;
        margin: auto;
        background: $app-bg;
        border: 10px solid $white;
        border-radius: 15px;
        box-shadow: 1px 1px 10px #444;

        .phone-header {
            background: linear-gradient(to left, $bg-magenta, $bg-violet);
            border-radius: 25px 25px 12px 12px;
            display: flex;
            padding: 1.2rem  0.5rem;
            margin-bottom: 1rem;
            font-size: 0.5rem;
            color: $white;

            p{
                padding-top: 0.3rem;
            }

            .white-bg {
                padding: 0.8rem;
                background: $white;
                position: absolute;
                width: 65%;
                margin: auto;
                top: 0;
                right: 0;
                left: 0;
                border-radius: 0 0 20px 20px;
            }

            .flexbox-container {
                margin: 1.2rem 0;
            }

            img {
                border-radius: 50%;
                border: 2px $white solid;
                width: 50px;
                height: 50px;
                margin: 0.8rem 0.5rem;
            }

            .btn-left {
                color: $white;
                font-size: 1.5rem;
                margin-top: 1.5rem;
                margin-left: 0.2rem;
            }

            .btn-right {
                color: $white;
                font-size: 1.5rem;
                position: absolute;
                right: 1.9rem;
                top: 2.5rem;
            }
        }

    }

    .phone-content {
        .messages-sent {

            p {
                background: $graish-blue;
                color: $moderate-violet;
                margin: 0.5rem;
                padding: 0.3rem;
                font-size: 0.6rem;
                width: 140px;
                border-radius: 10px;
            }
        }
    
        .messages-recived {
    
            p {
                background: $white;
                color: $dark-grayish-violet;
                margin: 0.5rem;
                padding: 0.5rem;
                font-size: 0.6rem;
                width: 150px;
                border-radius: 10px;
            }
    
            .right-align {
                text-align: right;
                width: auto;
            }
    
            img {
                border-radius: 10px;
                width: 50px;
                height: auto;
                margin: 0.3rem;
            }
    
            .flexbox-img {
                display: flex;
                justify-content: flex-end;
            }
    
            .flexbox-content {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }

        .btn button {
            background: linear-gradient(to right, $bg-magenta, $bg-violet);
            display: flex;
            flex-direction: row;
            width: 150px;
            border: none;
            border-radius: 10px 10px 10px 5px;
            outline: none;
            margin: 0.8rem 0.5rem;
            padding: 0.5rem 0;
            color: $white;
            font-size: 0.7rem;

            i {
                padding: 0 0.4rem;
            }
        }

        .send-message {
            
            width: 95%;
            margin: auto;
            margin-top: 1rem;
            textarea {
                width: 100%;
                height: 40px;
                border: none;
                outline: none;
                border-radius: 25px;
                color: $graish-blue;
                padding: 0.7rem;
                resize: none;
            }

            .send {
                background: $submit-btn-bg;
                color: $white;
                position: absolute;
                right: 1rem;
                padding: 0.5rem;
                margin: 0.2rem 0;
                border-radius: 60%;
                outline: none;
                border: none;
            }
        }
    
    }

    #about {
        text-align: center;
        margin: 1rem;
        background-color: red;
    }
}

